header {
	background-color: #414141; color: rgb(255, 217, 0);

}

.caixa { 
	padding: 20px;
}

.titulo-principal, h1 {
    font-size: 30px;
    margin-left: 30px;
}

nav {
	position: absolute;
	top: 25px;
	right: 20px;
}

nav li {
	display: inline;
	margin: 0 15px 0 15px;
}

nav a {
	text-transform: uppercase;
	color:rgb(255, 217, 0);
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	
}

nav a:hover {
	color: rgb(173, 173, 173);
	text-decoration: underline;
}

footer {
	text-align: center;
	background-color: #414141;
	padding: 20px;
	padding-top: 30px;
	color: white;
}

img {
    width: 350px!important;
    height: 350px!important;
    
}

.tattoo {
    padding-left: 11%;
    padding-top: 70px;
}
